/* Login CSS */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Heebo', sans-serif;}
.login_oueter {
  width: 360px;
  max-width: 100%;
}
.logo_outer{
  text-align: center;
}
.logo_outer img{
  width:120px;
  margin-bottom: 40px;
}
#login{
  border-radius: 12px;
}
#signinbtn{
  width: 100%;
  background-color: #329ee2;
  margin-bottom: 2rem;
  color: #fff;
}
#loginbtnDiv{
  width: 100%;
  text-align: center;
  margin: auto;
}
.fas{
  color: #329ee2;
}
.title {
  color: #329ee2;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}
#password input:focus {
  outline:0px !important;
}

.updatefrom{
  padding: 0.5rem;
}
  
.updatefrom div input,select {
    width: 50%;
}
.updatefrom div select {
    width: 50%;
}
.frombtn {
    justify-content: end;
    width: 60%;
}
.frombtn button{
    width: 6rem;
    margin: 0 1rem;
    margin-right: 0;
  }

/* Update Profile */
body{
  background:  #f5f5f7;
}
.emp-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
  border: 1px solid #dedede;
}
.profile-img{
  text-align: center;
}
.profile-img img{
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.show-pic{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.notclick{
  font-weight: bold;
}

.t-click:not(.notclick){
  cursor:pointer;
  }
