/* Login CSS */
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
  font-family: 'Heebo', sans-serif;}
.login_oueter {
  width: 360px;
  max-width: 100%;
}
.logo_outer{
  text-align: center;
}
.logo_outer img{
  width:120px;
  margin-bottom: 40px;
}
#login{
  border-radius: 12px;
}
#signinbtn{
  width: 100%;
  background-color: #329ee2;
  margin-bottom: 2rem;
  color: #fff;
}
#loginbtnDiv{
  width: 100%;
  text-align: center;
  margin: auto;
}
.fas{
  color: #329ee2;
}
.title {
  color: #329ee2;
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  padding-bottom: 1rem;
}
#password input:focus {
  outline:0px !important;
}

.updatefrom{
  padding: 0.5rem;
}
  
.updatefrom div input,select {
    width: 50%;
}
.updatefrom div select {
    width: 50%;
}
.frombtn {
    justify-content: end;
    width: 60%;
}
.frombtn button{
    width: 6rem;
    margin: 0 1rem;
    margin-right: 0;
  }